table, tr, td, th {
    border:solid black 2px;
    border-collapse: collapse;
    text-align: center;
    font-size: 50px;
}
table thead tr{
    font-weight: bold;
    background-color: blueviolet;
}

tr:nth-child(2n){
    background-color: black;
    color: aliceblue;
}

table tbody tr:not(tr:nth-child(2n)):not(.selected):hover{
    background-color: darkgrey;
}

table tbody tr:nth-child(2n):not(.selected):hover{
    background-color:darkslategrey;
}

table tbody .selected {
    background-color: darkred;
}

table tbody .selected:hover {
    background-color:firebrick;
}